<div class="col-sm-12">
  <h1><%= link_toggle_accordion(section) %></h1>
    <div id='<%= section_results(section) %>'  class="panel-collapse collapse in">
      <div id="<%= section %>" class="row">

        <% Anuncio.por_tipo(section).last(2).each do |anuncio| %>
        <!-- Item Seção -->
        <%= render 'anuncios/livro', anuncio: anuncio %>
        <!-- Fim Item Seção -->
        <% end %>
      </div>
    </div>
</div>
