<div class="jumbotron">
  <h1>
    <%= image_tag 'logo_texto.png', style: 'max-width: 300px' %>
  </h1>
  <p>
    troque ou empreste seus livros <br/>
    <span class="glyphicon glyphicon-book"></span>
  </p>
  <p><%= link_to 'Cadastre-se', signup_path, class: 'btn btn-primary btn-lg' %></p>
</div>
<%= render 'secao_home', seção: 'trocas' %>
<%= render 'secao_home', seção: 'empréstimo' %>
