<footer class="footer">
  <div class="container">
    <div class="text-center center-block" style="max-width:290px">
      <ul class="nav navbar-nav" role="navigation">
        <li><%= link_to 'Home', root_url, class: 'text-muted' %></li>
        <li><%= link_to 'Sobre', sobre_url, class: 'text-muted' %></li>
        <li><%= link_to 'Ajuda', suporte_url, class: 'text-muted' %></li>
        <li><%= link_to 'Contato', contato_url, class: 'text-muted' %></li>
      </ul>
    </div>
  </div>
</footer>
